<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: wheat;
            text-align: center;
        }

        .x {
            background-color: yellow;
            color: white;
        }
    </style>
</head>

<body>
    <h1>本期神預測樂x號碼 如期而至</h1>
    <h2>{{numbers}} 斯被修號碼:
        <span class="x">
            {{x}}
        </span>
    </h2>
</body>

</html>